<div id="pricing" class="pricing-tables">
    <div class="tables-left-dec">
      <img src="/static/dnsassets/images/tables-left-dec.png" alt="">
    </div>
    <div class="tables-right-dec">
      <img src="/static/dnsassets/images/tables-right-dec.png" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h2>Layanan Dari Desa Kami</h2>
            <h3>Pasang Jaringan Wi-Fi dan Hotspot Area</h3>

            <span>Jangan Ragu, Pilih Paket</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="item first-item">
            <h4>Harian</h4>
            <em>Rp 7500</em>
            <span>Rp. 2000</span>
            <ul>
              <li>Hotspot Only</li>
            </ul>
            <div class="main-blue-button-hover">
              <a href="#">Pilih Ini</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item second-item">
            <h4>Bulanan</h4>
            <em>Rp. 350.000</em>
            <span>Rp. 200.000</span>
            <ul>
              <li>10 Mbps</li>
            </ul>
            <div class="main-blue-button-hover">
              <a href="#">Pilih Ini</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item third-item">
            <h4>Bulanan</h4>
            <em>Rp. 450.000</em>
            <span>Rp. 300.000</span>
            <ul>
              <li>20 Mbps</li>
            </ul>
            <div class="main-blue-button-hover">
              <a href="#">Pilih Ini</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>