/* desa danasari */
/* need to custom css style */

.logo-color {
    color: rgb(197, 73, 197);
}

.size-photos {
    width: 363px;
    height: 300px;
}

.footer-margin {
    margin-top: 5px;
}